<form (ngSubmit)="saveExpenses()">
    <input type="text"
    name="expense"
    [(ngModel)] = expense.expenses
    placeholder="Enter the Expense name please..!"/>

    <input type="text"
    name="expense"
    [(ngModel)] = expense.amount
    placeholder="Enter the amount name please..!"/>

    <textarea type="text" 
    name="description" 
    [(ngModel)] = expense.description
    placeholder="enter description please"
    ></textarea>
    
    <button type="submit" > Add Expense</button>
</form>